<h2 class="select_character_header">Select A Character</h2>
<div class="container-fluid">
  <div class="row">
  <% @players.each do |player| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag "#{player.sprite}.png", :alt => "RuPG logo", class: "player_images" %>
        <div class="caption">
          <p><%= player.name %></p>
          <%= link_to "Select", new_player_inventory_path(player), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<!-- Commented out until able to upload photos -->
<!-- <span><%= link_to "Create New Player", new_player_path, class: "btn btn-primary" %></span> -->
